* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Bebas Neue Book";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 16px;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.mobile-menu {
  display: none;
}
.container {
  max-width: 1455px;
  padding-left: 14px;
  margin: 0 auto;
  overflow: hidden;
}
.navbar {
  display: flex;
  align-items: center;
  color: white;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: rgba(41, 45, 51, 1);
  border: none;
  height: 4.625rem;
}
.phone-icon,
.mark-icon {
  fill: rgb(91.8, 141.525, 229.5);
}
.logo {
  display: none;
}
.logo-svg {
  height: 2.75rem;
}
.navbar-light .header-logo-path {
  fill: rgba(41, 45, 51, 1);
}

.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}
.header {
  padding-top: 5.875rem;
}
.header-image {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  background-color: rgba(41, 45, 51, 0.555);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0px 3.125rem;
  height: 100%;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}
.header-nav-item {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-nav-item:not(:last-child) {
  margin-right: 4.4%;
  letter-spacing: 0.21px;
  word-spacing: -0.3px;
}
.header-nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  position: relative;
}
.header-nav-link:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #5c8ee6;
  transform: scaleX(0);
  transition: transform 0.2s;
}
.header-nav-link:hover::after {
  transform: scaleX(1);
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  margin-right: 3.125rem;
}

.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.button {
  padding: 1.5625rem 2.875rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #fff;
  background: rgba(92, 142, 230, 0.7);
  border: none;
  display: inline-block;
  cursor: pointer;
}
.button:hover{
  background: rgba(92, 142, 230, 1);
}
.navbar-button .button-icon {
  display: none;
}
.navbar-button {
  flex-shrink: 0;
  height: 100%;
}

.header-button {
  height: 100%;
}
.header-content-button {
  padding: 1.625rem 3.8125rem;
  word-spacing: 0.2px;
}

.seporator {
  width: 9.375rem;
  height: 2px;
  background-color: rgba(92, 142, 230, 1);
}

.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}
.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue Book", sans-serif;
  font-size: 5rem;
  line-height: 120%;
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
  word-spacing: -3px;
  letter-spacing: 1px;
}
.header-title strong {
  color: #5c8ee6;
}
.header-text {
  max-width: 45rem;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 3.125rem;
  margin-top: 2.625rem;
  letter-spacing: 0.16px;
}
.header-features {
  display: flex;
  padding: 0;
  margin-top: 6.25rem;
  margin-bottom: 0;
  list-style: none;
  color: #fff;
  position: relative;
}

.header-features-item {
  padding: 1.875rem 3.125rem;
  height: auto;
  letter-spacing: 0.06px;
  word-spacing: 1px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.slider-buttons {
  display: none;
  height: 44px;
}

.slider-button-next,
.slider-button-prev {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.header-features-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 1.125rem;
  margin-bottom: 0;
  max-width: 10.5625rem;
}


