* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Bebas Neue Book";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.js-loading * {
  animation-play-state: paused !important;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.mobile-menu {
  display: none;
}
.container {
  max-width: 1455px;
  padding-left: 14px;
  margin: 0 auto;
  overflow: hidden;
}
.navbar {
  display: flex;
  align-items: center;
  color: white;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 4;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition:
    background-color 0.2s,
    height 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: rgba(41, 45, 51, 1);
  border: none;
  height: 4.625rem;
}
.phone-icon,
.mark-icon {
  fill: rgb(91.8, 141.525, 229.5);
}
.logo {
  height: 100%;
}
.logo-svg {
  height: 2.75rem;
}
.navbar-light .header-logo-path {
  fill: rgba(41, 45, 51, 1);
}

.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}
.header {
  padding-top: 5.875rem;
}
.header-image {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  background-color: rgba(41, 45, 51, 0.555);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}
.header-nav-item {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-nav-item:not(:last-child) {
  margin-right: 4.4%;
  letter-spacing: 0.21px;
  word-spacing: -0.3px;
}
.header-nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  position: relative;
}
.header-nav-link:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #5c8ee6;
  transform: scaleX(0);
  transition: transform 0.2s;
}
.header-nav-link:hover::after {
  transform: scaleX(1);
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  margin-right: 3.125rem;
}

.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.button {
  padding: 1.5625rem 2.875rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #fff;
  background: rgba(92, 142, 230, 0.8);
  border: none;
  display: inline-block;
  cursor: pointer;
}
.button:hover {
  background: rgba(92, 142, 230, 1);
}
.navbar-button .button-icon {
  display: none;
}
.navbar-button {
  flex-shrink: 0;
  height: 100%;
}

.header-button {
  height: 100%;
}
.header-content-button {
  padding: 1.625rem 3.8125rem;
  word-spacing: 0.2px;
}

.seporator {
  width: 9.375rem;
  height: 2px;
  background-color: rgba(92, 142, 230, 1);
}

.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}
.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue Book", sans-serif;
  font-size: 5rem;
  line-height: 120%;
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
  word-spacing: -3px;
  letter-spacing: 1px;
}
.header-title strong {
  color: #5c8ee6;
}
.header-text {
  max-width: 45rem;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 3.125rem;
  margin-top: 2.625rem;
  letter-spacing: 0.16px;
}
.header-features {
  display: flex;
  padding: 0;
  margin-top: 6.25rem;
  margin-bottom: 0;
  list-style: none;
  color: #fff;
  position: relative;
}

.header-features-item {
  padding: 1.875rem 3.125rem;
  height: auto;
  letter-spacing: 0.06px;
  word-spacing: 1px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.slider-buttons {
  display: none;
  height: 44px;
}

.slider-button-next,
.slider-button-prev {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.header-features-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 1.125rem;
  margin-bottom: 0;
  max-width: 10.5625rem;
}

/*секция human */
.human {
  margin-top: 4rem;
}
.human-header {
  text-align: center;
}
.human-title {
  width: 100%;
  font-family: "Bebas Neue Book", sans-serif;
  font-size: 5rem;
  line-height: 120%;
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
  word-spacing: -3px;
  letter-spacing: 1px;
  text-align: center;
}

/* Оформление для тела человека */

.human-body {
  position: relative;
  display: block;
  margin: 30px auto;
  /* Просто замените scale на zoom */
  zoom: 0.7; /* Уменьшит в 2 раза и подтянет верстку */
  height: 800px; /* Укажите реальную высоту фигуры */
}

.human-body svg:hover {
  cursor: pointer;
}

.human-body a.hover-red:hover path {
  fill: #f14d49;
}

.human-body svg {
  z-index: 2;
  position: absolute;
  left: 50%;
}

.human-body svg#head {
  margin-left: -27px;
  top: -6px;
}

.human-body svg#orbit {
  margin-left: -6px;
  top: 27px;
}

.human-body svg#neck {
  margin-left: -21px;
  top: 70px;
}

.human-body svg#chest {
  margin-left: -57px;
  top: 140px;
}

.human-body svg#right-shoulder {
  margin-left: -90px;
  top: 100px;
}

.human-body svg#right-arm {
  margin-left: -162px;
  top: 210px;
}

.human-body svg#right-hand {
  margin-left: -197px;
  top: 387px;
}

.human-body svg#left-shoulder {
  margin-left: 48px;
  top: 95px;
}

.human-body svg#left-arm {
  margin-left: 100px;
  top: 202px;
}

.human-body svg#left-hand {
  margin-left: 172px;
  top: 336px;
}

.human-body svg#abdomen {
  margin-left: -70px;
  top: 210px;
}

.human-body svg#right-leg {
  margin-left: -110px;
  top: 420px;
  z-index: 2;
}

.human-body svg#right-foot {
  margin-left: -70px;
  top: 773px;
}

.human-body svg#left-leg {
  margin-left: -10px;
  top: 415px;
  z-index: 2;
}

.human-body svg#left-foot {
  margin-left: 40px;
  top: 771px;
}

.human-body svg:hover ellipse {
  fill: #eeeeee;
}

/* Слайдер */

.slider-buttons {
  display: none;
  height: 44px;
}

.slider-button-next,
.slider-button-prev {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

/* Модальное окно */
.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.5);
  display: flex;
  transition: opacity 0.4s;
}

.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  z-index: 10;
}
.modal.is-open .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}

.modal-dialog {
  margin: auto;
  max-width: 28.75rem;
  padding: 2.5rem 3.125rem;
  background-color: #fff;
  position: relative;
  transform: translateY(-10%);
  opacity: 0;
  transition:
    transform 0.4s,
    opacity 0.4s;
}
.modal-close {
  display: block;
  position: absolute;
  top: 2.5rem;
  right: 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--sep, rgba(235, 235, 240, 1));
}
.modal-title {
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-family: "Bebas Neue Book";
  font-size: 3rem;
  font-weight: 600;
  line-height: 120%;
}
.modal-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  color: var(--txt2, rgba(130, 138, 153, 1));
}

.modal-input-group {
  background-color: #fff;
}

.modal-form-footer {
  margin-top: 1.875rem;
}

.modal-form-button {
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
}

.input-group-wrapper {
  display: flex;
  gap: 1.875rem;
}
.input-group-vertical {
  display: flex;
  flex-direction: column;
}
.input-group {
  position: relative;
  height: 66px;
  flex-grow: 1;
  background-color: #ffffff;
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem 1.875rem;
  border: 1px solid var(--sep2, rgba(228, 228, 235, 1));
  background-color: inherit;
}
.input-group-label {
  position: absolute;
  cursor: text;
  top: 1.5rem;
  left: 1.975rem;
  color: var(--txt2, rgba(130, 138, 153, 1));
  font-size: 16px;
  font-weight: 400;
  transition:
    top 0.3s,
    left 0.3s,
    font-size 0.3s;
}
.input:focus {
  border: 1px solid var(--main, rgba(92, 142, 230, 1));
  outline: none;
}
.input:focus ~ .input-group-label,
.input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
  top: -0.5rem;
  left: 1rem;
  font-size: 0.625rem;
  background-color: inherit;
  padding: 0 10px;
}

.notify {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}
.notify-icon {
  flex-shrink: 0;
}
.notify-text {
  max-width: 23.75rem;
  color: var(--txt2, rgba(130, 138, 153, 1));
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
}

/* Секция бицепс */
.muscle {
  margin-top: 4rem;
}

.responsive-video {
  width: 40%;
  max-width: 450px;
  height: auto;
  aspect-ratio: 9 / 11;
  object-fit: cover;
}
.seporator-muscle {
  width: 100%;
  height: 2px;
  background-color: rgba(92, 142, 230, 1);
}

.muscle-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.muscle-text {
  width: 30%;
  font-size: 1.5rem;
  line-height: 120%;
}

/* Media  */
@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }
  .logo-svg {
    max-width: 10rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .header-phone {
    margin-right: 2rem;
  }
}
@media (max-width: 1240px) {
}
@media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 5.6rem;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .slider-buttons {
    display: flex;
  }
  .human-body {
    zoom: 0.6;
  }
  .muscle-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 60rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .logo-svg {
    max-width: 9rem;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.2rem 2.5rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .navbar-light .mobile-menu-line {
    background-color: black;
  }
  .mobile-menu-line {
    background-color: #fff;
    height: 1px;
    width: 100%;
    transition: tranvsform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button {
    padding-left: 2.7rem;
    padding-right: 2.5rem;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    fill: #ffffff;
    display: block;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 3;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }
  .mobile-menu-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
    font-weight: 700;
    color: rgba(41, 45, 51, 1);
    text-decoration: none;
  }
  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .mobile-submenu-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(130, 138, 153, 1);
  }
  .mobile-phone {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: rgba(41, 45, 51, 1);
    border-top: 1px solid rgba(235, 235, 240, 1);
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .mobile-info-address,
  .mobile-info-email {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-decoration: none;
    color: rgba(41, 45, 51, 1);
  }
  .mobile-info-icons {
    display: flex;
    gap: 0.9rem;
    margin-top: 1.3rem;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
  }
  .human-body {
    zoom: 0.6;
  }
  .responsive-video {
    width: 60%;
    height: auto;
    aspect-ratio: 9 / 10;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 40rem;
    padding-right: 14px;
  }
  .header-title,
  .human-title {
    font-size: 4rem;
  }
  .header-content {
    padding-top: 3rem;
  }
  .human-body {
    zoom: 0.5;
  }
  .muscle-wrap {
    flex-direction: column;
  }
  .responsive-video {
    width: 100%;
    aspect-ratio: 11 / 9;
  }
  .muscle-text {
    width: 100%;
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .header-content {
    padding-top: 4rem;
  }
  .header-title {
    width: 74%;
    letter-spacing: 0.6px;
    margin-bottom: 0;
  }
  .header-text {
    margin-top: 1.5rem;
    margin-bottom: 2.6rem;
    font-size: 1.17rem;
    word-spacing: 3.23px;
    line-height: 155%;
  }
  .header-content-button {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  .header-features {
    margin-top: 4rem;
  }
  .header-features-text {
    margin-top: 1.3rem;
    word-spacing: -0.2px;
    font-size: 1.2rem;
    max-width: 155px;
  }
  .header-features-item {
    padding: 1.8rem 2.5rem;
  }
  .slider-button-prev,
  .slider-button-next {
    padding-top: 7px;
    padding-bottom: 1rem;
    padding-right: 1rem;
  }
  .seporator {
    width: 8.375rem;
  }
  .section {
    margin-top: 8.1rem;
    margin-bottom: 8rem;
  }
  .section-title {
    margin-bottom: 3.2rem;
    font-size: 35px;
  }
  .human-body {
    zoom: 0.4;
  }
  .muscle-text {
    width: 100%;
    font-size: 1.3rem;
  }
}
